<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Walle_Client_Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Walle_Client_Service.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=dbwallev4.c6amkagluzst.us-east-2.rds.amazonaws.com;Port=3306;Database=Db_Walle_v4;Uid=admin_walle;Pwd='bgt5BGT%'</value>
            </setting>
        </Walle_Client_Service.My.MySettings>
    </userSettings>
</configuration>